*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    min-height: 100vh;
    background: #F2EAE2;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*----MAIN----*/

  main {
    background: white;
    display: flex;
    width: 600px; 
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
  }

  .images {
    width: 300px;
  }

  .aside {
    margin: 2rem;
  }

  .top_p {
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

  h1 {
    font-family: 'Fraunces', serif;
    color: #1C232B;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 24px;
  }

  .two_p {
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 29px;
  }

  /*----PRICE----*/

  .price {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .new_price {
    font-family: 'Fraunces', serif;
    color: #3D8168;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin-right: 19px;
  }

  .old_price {
    font-family: 'Montserrat', sans-serif;
    color: #6C7289;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
  }

  /*----BUTTON----*/

  button {
    width: 236px;
    height: 48px;
    background: #3D8168;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
    cursor: pointer;
  }

  button:active,
  button:hover {
    background: #1A4032;
  }

